#p-destacados {
    color: blue;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 20px;
    border-bottom: 3px solid blue;
}

.carousel-item {
    height: 500px;
    background-color: black;
    position: relative;
}

.overlay-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.card {
    margin-bottom: 50px;
}

#donde-estamos {
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 20px;
    border-bottom: 3px solid white;
}

#container-mapa {
    background-color: black;
}