nav {
    border-bottom: 2px solid gray;
}

.logotipo {
    width: 60px;
    height: 30px;
}

.nav-item {
    margin: 0 25px;
    border-bottom: 2px solid blue;
    font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
    background-color: gray;
}